h1 {
  text-transform: uppercase
}
.product-item {
  width: 100%;
  margin: 0 auto;
  @apply p-8 text-center relative
}

.product-item:nth-child(odd)::after{
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: calc(50% - 60px);
  width: 2px;
  height: 60px;
  border-left: 2px solid #3682BB;
  @apply mt-4
}

.product-item img {
  width: auto;
  margin: 0 auto;
  max-height: 300px;
}

.product-item h1 {
  @apply text-2xl mt-4 font-semibold
}