.menu {
  @apply flex flex-wrap  flex-row items-center justify-end mr-20 pt-8
}
.item {
  @apply cursor-pointer underline text-lg mr-10
}
img {
  @apply cursor-pointer
}
.blue {
  color:#3682BB
}

li.icon-css a {
  padding-left: 1.2em
}

li.icon-css a:before {
  content: '';
  position: absolute;
  top: 27%;
  left: 0px;
  width: .75em;
  /* 12px/16px */
  height: .125em;
  /* 2px/16px */
  border-top: .375em double #fff;
  /* 6px/16px */
  border-bottom: .125em solid #fff;
  /* 2px / 16px */
}

@media (max-width: 745px) {
  .menu {
    @apply mr-0
  }
}