.App {
  background-image: url('../src/assets/images/banner-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgb(247 251 254);
  width: 100%;
  height: 100vh;
}
html{
  background-color:rgb(247 251 254)
}

