@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.column-2 {
  align-items: start;
  @apply grid grid-cols-2 gap-6;
}

.column-3 {
  @apply grid grid-cols-3 gap-6;
}

@media screen and (max-width: 900px) {
  .column-2 {
    @apply flex flex-col gap-3;
  }
}
@media screen and (max-width: 980px) and (min-width: 450px) {
  .column-3 {
    @apply grid grid-cols-2 gap-3;
  }
}

@media screen and (max-width: 450px) {
  .column-3 {
    @apply grid grid-cols-1 gap-3;
  }
}


